{% extends 'base.html' %}

{% block content %}
    <div class="items-container">
        <div class="forms-container">
            <form method="POST" enctype="multipart/form-data" action="{% url 'users:password_change' %}">
                {% csrf_token %}
                <h3>{{ title }}</h3>
                {% for field in form %}
                    <div class="forms-char">
                        {{ field }}
                        <span></span>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="forms-error">{{ field.errors }}</div>
                    </div>
                {% endfor %}
                <button type="submit">Отправить</button>
            </form>
        </div>
        <div class="forms-error">{{ form.non_field_errors }}</div>
    </div>
{% endblock %}