{% load static %}

<div class="mini-post">
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="Изображение" class="post-image">
    {% else %}
        <img src="{% static 'posts/images/default_image.png' %}" alt="Изображение" class="post-image">
    {% endif %}
    <div class="mini-post-text">
        <h3>{{ post.title }}</h3>
        <p>{{ post.content|truncatechars:200|safe }}</p>
        <p><a href="{{ post.get_absolute_url }}" class="link">Читать полную статью</a></p>
    </div>
</div>