{% load static %}
{% load cache %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/images/icon.png' %}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>

<header class="header">
    {% cache cache_ttl_nfch header %}
        <div class="header-sides">
            <a href="{% url 'home' %}" class="">
                <img src="{% static 'main/images/logo.png' %}" alt="YouBlog" class="header-logo">
            </a>
            {% for m in menu %}
                <a href="{% url m.url_name %}" class="menu-link">{{ m.title }}</a>
            {% endfor %}
        </div>
    {% endcache %}

    <div class="header-sides">
        <div class="header-search">
            <form class="" action="{% url 'search' %}" method="GET">
                <label for="search">
                    <input type="search" placeholder="Поиск" class="search-input" id="search" name="search_query">
                </label>
            </form>
            <a href="{% url 'extended_search' %}" class="menu-link header-search-extended">Расширенный поиск</a>
        </div>

        <div class="header-user">
            {% if user.is_authenticated %}
                <div class="header-dropdown">
                    <div class="header-select">
                        <span class="header-selected">{{ user.username }}</span>
                        <div class="header-caret"></div>
                    </div>
                    <ul class="header-drop-menu">
                        <li><a href="{% url 'users:profile' %}" class="link">Профиль</a></li>
                        <li><a href="{% url 'my_posts' %}" class="link">Мои посты</a></li>
                        <li><a href="{% url 'users:logout' %}" class="link">Выйти</a></li>
                    </ul>
                </div>
            {% else %}
                <div class="header-auth-reg">
                    <a href="{% url 'users:login' %}" class="menu-link">Войти</a>|<!--
                        --><a href="{% url 'users:register' %}" class="menu-link">Регистрация</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>

<main class="main">

    {% block breadcrumbs %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block navigation %}
    {% endblock %}

</main>

<footer class="footer">
    {% cache cache_ttl_nfch footer %}
        <div class="footer-sides">
        <span>&copy; 2024 Частичное или полное копирование информации с данного сайта для распространения
            на других ресурсах, в том числе и бумажных, строго запрещено.</span>
        </div>
        <div class="footer-sides">
            <a href="{% url 'contact' %}" class="menu-link">Обратная связь</a>
            <div class="">
                <a href="#"><img src="{% static 'main/images/vk.png' %}" alt="VK"></a>
                <a href="#"><img src="{% static 'main/images/instagram.png' %}" alt="Instagram"></a>
                <a href="#"><img src="{% static 'main/images/telegram.png' %}" alt="Telegram"></a>
            </div>
        </div>
    {% endcache %}
</footer>

<script src="{% static 'main/js/dropmenu.js' %}"></script>
</body>
</html>
