{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'main/images/icon.png' %}" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>

<header class="header">
    <div class="header-sides">
        <a href="{% url 'home' %}" class="">
            <img src="{% static 'main/images/logo.png' %}" alt="YouBlog" class="header-logo">
        </a>
        {% for m in menu %}
            <a href="{% url m.url_name %}" class="menu-link">{{ m.title }}</a>
        {% endfor %}
    </div>
    <div class="header-sides">
        <div class="header-search">
            <form class="" action="{% url 'search' %}" method="GET">
                <label for="search">
                    <input type="search" placeholder="Поиск" class="search-input" id="search" name="search_query">
                </label>
            </form>
            <a href="{% url 'extended_search' %}" class="menu-link header-search-extended">Расширенный поиск</a>
        </div>
        {% if user.is_authenticated %}
            <div class="header-auth-reg">
                <a href="#" class="menu-link">Профиль</a>|<!--
            --><a href="{% url 'users:logout' %}" class="menu-link">Выйти</a>
            </div>
        {% else %}
            <div class="header-auth-reg">
                <a href="{% url 'users:login' %}" class="menu-link">Войти</a>|<!--
            --><a href="{% url 'users:register' %}" class="menu-link">Регистрация</a>
            </div>
        {% endif %}
    </div>
</header>

<main class="main">

    {% block breadcrumbs %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block navigation %}
    {% endblock %}

</main>

<footer class="footer">
    <div class="footer-sides">
        <span>&copy; 2024 Частичное или полное копирование информации с данного сайта для распространения
            на других ресурсах, в том числе и бумажных, строго запрещено.</span>
    </div>
    <div class="footer-sides">
        <a href="#" class="menu-link">Обратная связь</a>
        <div class="">
            <a href="#"><img src="{% static 'main/images/vk.png' %}" alt="VK"></a>
            <a href="#"><img src="{% static 'main/images/instagram.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'main/images/telegram.png' %}" alt="Telegram"></a>
        </div>
    </div>
</footer>

</body>
</html>
