{% extends 'base.html' %}

{% block content %}
    <div class="category">
        <span>{{ category.name }}</span>
        <span class="post-count">Всего {{ posts_list|length }} записей</span>
    </div>
    <div class="posts-container">
        {% for post in posts_list %}
            <div class="post">
                <img src="{{ post.image.url }}" alt="Изображение" class="post-image">
                <div class="post-details">
                    <p class="post-text">
                        {{ post.title }}
                    </p>
                    <p class="post-text">Автор:
                        <a href="#" class="author-link">{{ post.author.username }}</a>
                    </p>
                    <p class="post-text">{{ post.content|truncatechars:200 }}</p>
                    <a href="#" class="read-more-link">Читать полную статью</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block navigation %}
    {% if page_obj.has_other_pages %}
        <nav class="pagination">
            <ul class="pagination-list">
                {% if page_obj.has_previous %}
                    <li class="pagination-item">
                        <a href="?page=1" class="pagination-link">&lt;&lt;</a>
                    </li>
                    <li class="pagination-item">
                        <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">&lt;</a>
                    </li>
                {% endif %}
                {% for page in paginator.page_range %}
                    <li class="pagination-item">
                        <a href="?page={{ page }}" class="pagination-link">{{ page }}</a>
                    </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="pagination-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">&gt;</a>
                    </li>
                    <li class="pagination-item">
                        <a href="?page={{ paginator.num_pages }}" class="pagination-link">&gt;&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}