{% extends 'base.html' %}

{% block breadcrumbs %}
    <div class="one-post-container">
        <h3>Теги</h3>
        {% for tag in post.tags.all %}
            <a href="#" class="link tag_link">{{ tag.name }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="one-post-container">
        <h1>{{ post.title }}</h1>
        <a href="{{ post.image.url }}"><img src="{{ post.image.url }}" alt="Картинка поста {{ post.title }}"></a>
        <p class="author-info">Категория:
            <a href="{{ post.category.get_absolute_url }}" class="category-link">{{ post.category.name }}</a>
        </p>
        <p class="author-info">Автор: <a href="#" class="author-link">{{ post.author }}</a></p>
        <p class="article-content">Текст статьи:</p>
        {{ post.content }}
    </div>
{% endblock %}