:root {
    --main-color: #191919;
    --secont-main-color: #80808019;
    --font-color: #f2f2f2; /*#F1F1F1*/
    --post-color: #f5f5f5;
    --text-color: #ffffff;
    --text-link: #ff0000;
}

/*common***************************************************************************************************************/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
    min-width: 1080px;
}

.menu-link {
    display: inline-block;
    margin: 8px;
    padding: 0;
    color: var(--text-color);
    background-color: transparent;
    transition: color 0.5s;
    cursor: pointer;
    text-decoration: None;
}

.menu-link:hover {
    background-color: var(--secont-main-color);
    color: var(--text-link);
    border-radius: 8px;
}

.link {
    text-decoration: None;
    color: inherit;
    transition: color 0.5s;
    font-weight: bold;
    letter-spacing: 0.02em;
}

.link:hover {
    color: var(--text-link);
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #191919;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

/*header***************************************************************************************************************/

.header {
    background-color: var(--main-color);;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 18px;
}

.header-sides {
    display: flex;
    align-items: center;
}

.header-logo {
    align-items: center;
    width: 150px;
}

.header-auth-reg {
    display: inline-block;
}

.header-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22px;
    margin-right: 40px;
}

.search-input {
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid var(--secont-main-color);
    background-color: var(--font-color);
    font-size: 14px;
}

.search-input:hover {
    box-shadow: 0 0 10px var(--text-link);
}

.header-search-extended {
    font-size: 10px;
    align-items: center;
}

.header-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-dropdown {
    min-width: 160px;
    position: relative;
}

.header-dropdown * {
    box-sizing: border-box;
}

.header-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid silver;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.header-select:hover {
    background-color: var(--secont-main-color);
    color: var(--text-link);
}

.header-caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.header-drop-menu {
    list-style: none;
    padding: 6px 10px;
    margin: 0;
    background-color: var(--main-color);
    border-radius: 8px;
    box-shadow: 0 0 8px var(--text-link);
    position: absolute;
    top: 50px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.header-drop-menu li {
    padding: 4px 0;
    border-radius: 8px;
    cursor: pointer;
}

.header-drop-menu li:hover {
    background-color: var(--secont-main-color);
}

.header-select-clicked {
    box-shadow: 0 0 8px var(--text-link);
}

.header-caret-rotate {
    transform: rotate(180deg);
}

.active {
    background: #23242a;
}

.header-drop-menu-open {
    display: block;
    opacity: 1;
}

/*footer***************************************************************************************************************/
.footer {
    display: flex;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 20px;
    justify-content: space-between;
    font-size: 18px;
}

.footer-sides {
    display: flex;
    align-items: center;
}

.footer span {
    align-items: center;
    font-size: 10px;
}

.footer img {
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 5px;
}

/*main*****************************************************************************************************************/
.main {
    display: flex;
    background-color: var(--font-color);
    padding: 0 10%;
    min-height: calc(100vh - 178px);
    flex-direction: column;
    justify-content: flex-start;
}

.post-container {
    margin: 20px auto;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--post-color);
    box-shadow: 8px 8px 50px rgba(0, 0, 0, 50%);
}

.text-container {
    max-width: 800px;
    padding: 20px;
}

.text-container h1, h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.image-container {
    margin-top: 40px;;
    max-width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 26px;
}

.start-blog-container {
    background-color: var(--main-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.post-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-data-container p {
    padding-right: 20px;
}

.post-tag-container {
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif
}

.tag-container a {
    margin: 5px;
}

.mini-post-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.mini-post {
    background-color: var(--main-color);
    border-radius: 16px;
    overflow: hidden;
    margin: 16px 0;
    max-height: 660px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;;
}

.mini-post-text {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 4px;

}

.mini-post-text h3 {
    margin: 8px 0;
    font-family: Arial, sans-serif;
}

.mini-post-text a {
    align-self: flex-end;
}

.mini-post img {
    width: max-content;
    height: 60%;
    align-self: center;
}

.mini-post-info {
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-top: 22px;
    margin-bottom: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pagination-item {
    margin: 0 5px;
}

.pagination-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 6px;
    background-color: var(--main-color);
    color: #fff;
    text-decoration: none;
    transition: color 0.5s ease;
}

.pagination-link:hover {
    color: #ff0000;
}

.pagination-item-active {
    background-color: white;
}

.pagination-link-active {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: var(--font-color);
    text-decoration: none;
}

.ellipsis {
    font-size: 20px;
}

.extended-search-container {
    display: flex;
    justify-content: center;
}

.extended-search-form {
    margin: 20px;
    padding: 6px;
    width: 60%;
    border-radius: 10px;
    background-color: var(--main-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.extended-search-form p {
    margin-bottom: 0;
}

.extended-search-form .category-search, .extended-search-form .tag-search {
    margin: 8px 20px;
}

.tag-search {
    display: flex;
    flex-wrap: wrap;
}

.checkbox {
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox label {
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    display: None;
    opacity: 0;
    position: absolute;
}

.checkbox input[type="checkbox"]:checked + label {
    color: var(--text-link);
    transition: color 0.5s ease;
}

.category-search select {
    padding: 8px;
    border-radius: 5px;
    background-color: var(--font-color);
    color: var(--main-color);
    font-size: 14px;
    appearance: none;
    cursor: pointer;
}

.search-button {
    background-color: var(--font-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    padding: 4px;
    transition: background-color 0.2s;
}

.search-button:active {
    background-color: #CCCCCC;
}

/*forms****************************************************************************************************************/
.items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 178px);
}

.forms-container {
    background-color: var(--main-color);
    color: var(--font-color);
    width: 380px;
    border-radius: 8px;
    overflow: hidden;
}

.forms-container h3 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--font-color);
    letter-spacing: 0.1em;
}

.forms-container form {
    padding: 0 30px;
    box-sizing: border-box;
}

form .forms-char {
    position: relative;
    border-bottom: 2px solid var(--font-color);
    letter-spacing: 0.05em;
    margin: 30px 0;
}

.forms-char input {
    width: 306px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: var(--font-color);
}

.forms-char label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--font-color);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.forms-char span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--text-link);
    transition: 0.5s;
}

.forms-char input:not(:placeholder-shown) ~ label {
    top: -5px;
    color: silver;
}

.forms-char input:focus ~ span::before,
.forms-char input:valid ~ span::before {
    width: 100%;
}

form .forms-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;
}

.forms-container form button {
    width: 36%;
    height: 50px;
    border: 1px solid;
    background: var(--font-color);
    cursor: pointer;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 700;
    outline: none;
}

.forms-container form button:hover {
    background: silver;
}

.forms-error {
    list-style: none;
    color: var(--text-link)
}

/*profile**************************************************************************************************************/
.profile-container {
    margin: 20px auto;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 8px 8px 50px rgba(0, 0, 0, 50%);
    background-color: var(--main-color);
    color: var(--font-color);
    overflow: hidden;

}

.profile-container form {
    display: flex;
    flex-wrap: wrap;
}

.profile-image {
    width: calc(33.33% - 10px);
    padding: 8px;
    box-sizing: border-box;
}

.profile-info {
    width: calc(66.66% - 10px);
    padding: 8px;
    box-sizing: border-box;
}

.profile-button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container form img {
    margin: 6px;
    width: 100%;
    border-radius: 6px;
}

.profile-image-char {
    margin-top: 10px;
    border-bottom: 1px solid var(--text-link);
    overflow: hidden;
}

.profile-image-char a {
    text-decoration: None;
    color: inherit;
    transition: color 0.5s;
    font-weight: bold;
    letter-spacing: 0.02em;
}

.profile-image-char a:hover {
    color: var(--text-link);
}

.profile-info h3 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--font-color);
    letter-spacing: 0.05em;
}

.profile-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    position: relative;
}

.profile-input input {
    width: 60%;
    height: 40px;
    font-size: 16px;
    padding: 0 5px;
    color: var(--font-color);
    border: none;
    background: none;
    outline: none;
    margin: 10px 0;
    border-bottom: 2px solid var(--text-link);
}

.profile-char input:read-only {
    background-color: var(--secont-main-color);
    border-radius: 3px;
}

.profile-char label {
    letter-spacing: 0.05em;
}

.profile-input select {
    width: 21%;
    height: 40px;
    font-size: 16px;
    padding: 0 5px;
    color: var(--font-color);
    border: none;
    background: var(--main-color);
    outline: none;
    margin: 10px 0;
    border-bottom: 2px solid var(--text-link);
}

.profile-button button {
    width: 25%;
    height: 50px;
    border: 1px solid;
    background: var(--font-color);
    cursor: pointer;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 700;
    outline: none;
}

/*Contact**************************************************************************************************************/


.items-container-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 178px);
}

.forms-container-contact {
    background-color: var(--main-color);
    color: var(--font-color);
    width: 380px;
    border-radius: 8px;
    overflow: hidden;
}

.forms-container-contact h3 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--font-color);
    letter-spacing: 0.1em;
}

.forms-container-contact form {
    padding: 0 30px;
    box-sizing: border-box;
}

.forms-container-contact form button {
    width: 36%;
    height: 50px;
    border: 1px solid;
    background: var(--font-color);
    cursor: pointer;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 700;
    outline: none;
}

.forms-container-contact form button:hover {
    background: silver;
}

.forms-error-contact {
    list-style: none;
    color: var(--text-link)
}


.forms-container-contact form input {
    width: 306px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: var(--font-color);
    border-bottom: 2px solid var(--text-link);
}

.forms-container-contact form textarea {
    background: var(--secont-main-color);
    color: var(--font-color);
    border: none;
    border-bottom: 2px solid var(--text-link);
    border-radius: 4px;
    resize: none;
    width: 314px;
    font-size: 16px;
    margin-top: 4px;
}

.forms-char-contact {
    margin-top: 6px;
}

.forms-char-contact label {
    color: silver;
}